@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
body {
    background: #f9f9f9;
    font-family: "roboto", sans-serif;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

.grocery-card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.grocery-card:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.grocery-card .grocery-card_img {
    display: block;
    position: relative;
}

.grocery-card .grocery-card_img img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.grocery-card .grocery-card_img i {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 25px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.grocery-card .grocery-card_img i:hover {
    top: 18px;
    right: 28px;
    font-size: 29px;
}

.grocery-card .grocery-card_content {
    padding: 15px;
}

.grocery-card .grocery-card_content .grocery-card_title-section {
    height: 100px;
    overflow: hidden;
}

.grocery-card .grocery-card_content .grocery-card_title-section .grocery-card_title {
    font-size: 24px;
    color: #333;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grocery-card .grocery-card_content .grocery-card_title-section .grocery-card_author {
    font-size: 15px;
    display: block;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_subscribers {
    margin-left: 17px;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_subscribers img,
.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_subscribers .grocery-card_subscribers-count {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border: 3px solid #fff;
    margin-left: -17px;
    float: left;
    background: #f5f5f5;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_subscribers .grocery-card_subscribers-count {
    position: relative;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_subscribers .grocery-card_subscribers-count span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13px;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_price {
    font-size: 28px;
    font-weight: 500;
    color: #F47A00;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_order-count {
    width: 130px;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_order-count input {
    background: #f5f5f5;
    border-color: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

.grocery-card .grocery-card_content .grocery-card_bottom-section .grocery-card_order-count button {
    border-color: #f5f5f5;
    border-width: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 600px) {
    .grocery-card--vertical {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        height: 235px;
    }
    .grocery-card--vertical .grocery-card_img img {
        width: 200px;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}